.create-listing {
  header {
    margin-bottom: 2rem;
  }
  main {
    form {
      label {
        margin: 1.6rem 0;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .flex {
        display: flex;
      }

      .formButtons {
        display: flex;
        gap: 1rem;
        button {
          font-size: 1.6rem;
        }
      }
      .formButton,
      .formInput,
      .formInputAddress,
      .formInputName,
      .formInputSmall,
      .formInputFile,
      .formButtonActive {
        padding: 1.4rem 4rem;
        background-color: #ffffff;
        font-weight: 600;
        border-radius: 1.5rem;
        font-size: 1.6rem;
        margin: 0.9rem 0.9rem 2.9rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
      }
      .formButtonActive {
        background-color: #00cc66;
        color: #ffffff;
      }

      .formInputSmall,
      .formInputFile {
        margin-right: 3.4rem;
        padding: 1.4rem 1.2rem;
        text-align: center;
      }

      .formInputName {
        padding: 1.3rem 1.3rem;
        width: 90%;
        max-width: 326px;
      }

      .formInputAddress {
        padding: 1.2rem 1.4rem;
        width: 90%;
        max-width: 326px;
      }

      .formPriceDiv {
        display: flex;
        align-items: center;
      }

      .formPriceText {
        margin-left: -1.5rem;
        font-weight: 600;
      }

      .imagesInfo {
        font-size: 1.5rem;
        opacity: 0.75;
      }

      .formInputFile {
        width: 100%;
      }
      .formInputFile::-webkit-file-upload-button {
        background-color: #00cc66;
        border: none;
        color: #ffffff;
        font-weight: 600;
        padding: 0.5rem 0.75rem;
        border-radius: 1rem;
        margin-right: 1rem;
      }

    //   .offers {
    //     margin-bottom: 10rem;
    //   }

    //   .offerBadge {
    //     padding: 0.25rem 0.5rem;
    //     background-color: #000000;
    //     color: #ffffff;
    //     border-radius: 1rem;
    //     margin-left: 1rem;
    //     font-size: 1.4rem;
    //     opacity: 0.75;
    //   }
      .submit {
        width: 90%;
        margin: 5rem auto 0;

        .createListingButton {
          width: 100%;
          background-color: #00cc66;
          padding: 1.5rem 0;
          text-align: center;
          color: white;
          border-radius: 20px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
