.explore {
padding-bottom: 9rem;
  header{
    margin: 2rem 0;
    background-color: rgb(240, 240, 240);
  }

  main{
    .slider {
      .swiper-container {
        height: 100vh;
        .swiperSlideDiv{
        }
      }
    }
    .category{
      margin: 2rem 0;
      
    }
  }
}
