.google-auth{
    text-align: center;
    button{
        padding: 0.6rem;
        background-color: white;
        border-radius: 999px;
        margin: 1rem 0;
        img{
            width: 20px;
        }
    }
}