footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    
    nav{
        max-width: 600px;
        margin: auto;
        padding: 0.6rem 1rem;
        ul{
            justify-content: space-between;
            display: flex;
        }
    }
}