.profile-page {
  .profile {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 7rem 0;
    .profileHeader {
      width: 400px;
      box-shadow: 2px 2px 2px rgb(120, 120, 120);
      padding: 1rem;
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .profileDetailsHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
      }
    }
    main {
      padding: 2rem 0;
      .profileDetailsHeader {
        margin: 1rem 0;
        .profileDetailsText {
        }
      }
    }
  }
}
