@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
h1 {
  font-size: clamp(3.5rem, 2.5vw, 5rem);
}

h4 {
  font-size: clamp(2.4rem, 2.5vw, 4rem);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
}

.app {
  position: relative;
  padding-bottom: 14rem;
}

ul {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(1.8rem, 2.5vw, 3rem);
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
  padding: 2rem 0;
  position: relative;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;

}


.sign-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8rem 0 8rem;
  button {
    padding: 0.5rem;
    background-color: rgb(6, 74, 175);
    border-radius: 999px;

    svg {
      font-size: 2em;
      color: white;
    }
  }
}